<div class="container" style='padding-top:150px;'>
    <div class="row">
        <form class="form-horizontal" ng-submit='submitFund()'>
            <fieldset>

                <!-- Form Name -->
                <legend>
                    <center>User funding request details</center>
                </legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="requestid">Employee Name</label>
                    <div class="col-md-4">
                        <input id="requestid" name="reqid" placeholder="Name"
                               ng-model='fund.employeeName' class="form-control input-md"
                               ng-required='true' type="text">
                    </div>
                </div>

                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="dis">Description</label>
                    <div class="col-md-4">
                        <textarea class="form-control" id="dis" ng-model='fund.description'
                                  name="dis" ng-required='true'></textarea>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="date">Amount</label>
                    <div class="col-md-4">
                        <input id="date" name="date" placeholder="Amount in &#8377;"
                                ng-model='fund.amount' class="form-control input-md"
                                type="number" step='500' max='10000' ng-required='true'>
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="submit"></label>
                    <center>
                        <div class="col-md-4">
                            <button id="submit" name="button" type="submit"
                                    class="btn btn-success">Submit</button>
                        </div>
                    </center>
                </div>

            </fieldset>
        </form>

    </div>
</div>
