<form class="form-horizontal" style="padding-top: 150px;" ng-submit='addUser()'>
    <fieldset>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">First name</label>
            <div class="col-md-4">
                <input id="textinput" name="textinput" type="text" placeholder="First name"
                ng-model='user.first_name' class="form-control input-md" ng-required='true'>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Last name</label>
            <div class="col-md-4">
                <input id="textinput" name="textinput" type="text" placeholder="Last name"
                ng-model='user.last_name' class="form-control input-md" ng-required='true'>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">E-mail</label>
            <div class="col-md-4">
                <input id="email" name="email" type="email" placeholder="E-mail"
                ng-model='user.email' class="form-control input-md" ng-required='true'>
            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="passwordinput">Password</label>
            <div class="col-md-4">
                <input id="passwordinput" name="passwordinput" type="password"
                placeholder="Enter your password" ng-model='user.password' class="form-control input-md" ng-required='true'>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton"></label>
            <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" type="submit"
                class="btn btn-success">Register</button>
            </div>
        </div>

    </fieldset>
</form>
